<option value="Argentina"{% if selected == "Argentina" %} selected{% endif %}>Argentina</option>
<option value="Australia"{% if selected == "Australia" %} selected{% endif %}>Australia</option>
<option value="Austria"{% if selected == "Austria" %} selected{% endif %}>Austria</option>
<option value="Belgium"{% if selected == "Belgium" %} selected{% endif %}>Belgium</option>
<option value="Brazil"{% if selected == "Brazil" %} selected{% endif %}>Brazil</option>
<option value="Canada"{% if selected == "Canada" %} selected{% endif %}>Canada</option>
<option value="Chile"{% if selected == "Chile" %} selected{% endif %}>Chile</option>
<option value="Colombia"{% if selected == "Colombia" %} selected{% endif %}>Colombia</option>
<option value="Croatia"{% if selected == "Croatia" %} selected{% endif %}>Croatia</option>
<option value="Cyprus"{% if selected == "Cyprus" %} selected{% endif %}>Cyprus</option>
<option value="Czechia"{% if selected == "Czechia" %} selected{% endif %}>Czechia</option>
<option value="Denmark"{% if selected == "Denmark" %} selected{% endif %}>Denmark</option>
<option value="Estonia"{% if selected == "Estonia" %} selected{% endif %}>Estonia</option>
<option value="Finland"{% if selected == "Finland" %} selected{% endif %}>Finland</option>
<option value="France"{% if selected == "France" %} selected{% endif %}>France</option>
<option value="Germany"{% if selected == "Germany" %} selected{% endif %}>Germany</option>
<option value="Greece"{% if selected == "Greece" %} selected{% endif %}>Greece</option>
<option value="Hong Kong"{% if selected == "Hong Kong" %} selected{% endif %}>Hong Kong</option>
<option value="Hungary"{% if selected == "Hungary" %} selected{% endif %}>Hungary</option>
<option value="Iceland"{% if selected == "Iceland" %} selected{% endif %}>Iceland</option>
<option value="Ireland"{% if selected == "Ireland" %} selected{% endif %}>Ireland</option>
<option value="Israel"{% if selected == "Israel" %} selected{% endif %}>Israel</option>
<option value="Italy"{% if selected == "Italy" %} selected{% endif %}>Italy</option>
<option value="Japan"{% if selected == "Japan" %} selected{% endif %}>Japan</option>
<option value="Latvia"{% if selected == "Latvia" %} selected{% endif %}>Latvia</option>
<option value="Lithuania"{% if selected == "Lithuania" %} selected{% endif %}>Lithuania</option>
<option value="Luxembourg"{% if selected == "Luxembourg" %} selected{% endif %}>Luxembourg</option>
<option value="Malta"{% if selected == "Malta" %} selected{% endif %}>Malta</option>
<option value="Mexico"{% if selected == "Mexico" %} selected{% endif %}>Mexico</option>
<option value="Netherlands"{% if selected == "Netherlands" %} selected{% endif %}>Netherlands</option>
<option value="New Zealand"{% if selected == "New Zealand" %} selected{% endif %}>New Zealand</option>
<option value="Norway"{% if selected == "Norway" %} selected{% endif %}>Norway</option>
<option value="Peru"{% if selected == "Peru" %} selected{% endif %}>Peru</option>
<option value="Poland"{% if selected == "Poland" %} selected{% endif %}>Poland</option>
<option value="Portugal"{% if selected == "Portugal" %} selected{% endif %}>Portugal</option>
<option value="Romania"{% if selected == "Romania" %} selected{% endif %}>Romania</option>
<option value="Singapore"{% if selected == "Singapore" %} selected{% endif %}>Singapore</option>
<option value="Slovakia"{% if selected == "Slovakia" %} selected{% endif %}>Slovakia</option>
<option value="Slovenia"{% if selected == "Slovenia" %} selected{% endif %}>Slovenia</option>
<option value="South Africa"{% if selected == "South Africa" %} selected{% endif %}>South Africa</option>
<option value="South Korea"{% if selected == "South Korea" %} selected{% endif %}>South Korea</option>
<option value="Spain"{% if selected == "Spain" %} selected{% endif %}>Spain</option>
<option value="Sweden"{% if selected == "Sweden" %} selected{% endif %}>Sweden</option>
<option value="Switzerland"{% if selected == "Switzerland" %} selected{% endif %}>Switzerland</option>
<option value="Taiwan"{% if selected == "Taiwan" %} selected{% endif %}>Taiwan</option>
<option value="Thailand"{% if selected == "Thailand" %} selected{% endif %}>Thailand</option>
<option value="Turkey"{% if selected == "Turkey" %} selected{% endif %}>Turkey</option>
<option value="United Arab Emirates"{% if selected == "United Arab Emirates" %} selected{% endif %}>United Arab Emirates</option>
<option value="United Kingdom"{% if selected == "United Kingdom" %} selected{% endif %}>United Kingdom</option>
<option value="United States"{% if selected == "United States" %} selected{% endif %}>United States</option>
<option value="Uruguay"{% if selected == "Uruguay" %} selected{% endif %}>Uruguay</option>
<option value="Uzbekistan"{% if selected == "Uzbekistan" %} selected{% endif %}>Uzbekistan</option>
<option value="Vanuatu"{% if selected == "Vanuatu" %} selected{% endif %}>Vanuatu</option>
<option value="Vatican City"{% if selected == "Vatican City" %} selected{% endif %}>Vatican City</option>
<option value="Venezuela"{% if selected == "Venezuela" %} selected{% endif %}>Venezuela</option>
<option value="Vietnam"{% if selected == "Vietnam" %} selected{% endif %}>Vietnam</option>
<option value="Wallis &amp; Futuna"{% if selected == "Wallis &amp; Futuna" %} selected{% endif %}>Wallis &amp; Futuna</option>
<option value="Western Sahara"{% if selected == "Western Sahara" %} selected{% endif %}>Western Sahara</option>
<option value="Yemen"{% if selected == "Yemen" %} selected{% endif %}>Yemen</option>
<option value="Zambia"{% if selected == "Zambia" %} selected{% endif %}>Zambia</option>
<option value="Zimbabwe"{% if selected == "Zimbabwe" %} selected{% endif %}>Zimbabwe</option>
